<table class="table table-hover">
    {% for comment in comments %}
    <tr>
        <td width='70px'>
            <a href="{{ url_for('main.user', username=comment.author.username) }}">
                <img src="{{ comment.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=comment.author.username )}}">{{ comment.author.username }}</a>
                </span>
            {% endset %}
            {{  _('%(username)s 发表于 %(when)s',
            username=user_link, when=moment(comment.timestamp).fromNow()) }}
            <br>
            <span id='comment{{ comment.id }}'>
                {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body }} 
                {% endif %}
                </span>
            <br><br>
        </td>
    </tr>
    {% endfor %}
</table>