<table class="table table-hover">
    {% for post in posts %}
    {% if post.isvalid %}
    <tr>
        <td width='70px'>
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}"/>
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username )}}">{{ post.author.username }}</a>
                </span>
            {% endset %}
            {{  _('%(username)s 发表于 %(when)s',
            username=user_link, when=post.timestamp.strftime("%Y-%m-%d %H:%M:%S")) }}
            <br>
            <span id='post{{ post.id }}'>
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }} 
                {% endif %}
                <a href="{{ url_for('main.post', id=post.id) }}#comments">
                    <span class="label label-default"> 💬 {{ post.comments.count() }} 回复</span>
                </a>
                {% if current_user == post.author %} 
                <a href="{{ url_for('main.delete_post', id=post.id) }}">
                    <span class="label label-default">❗ 删除 </span> 
                {% endif %}                
            </a>   
        </td>
    </tr>
{% endif %}
{% endfor %}
</table>



