{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}
            {% for error in form.post.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <P>{{ form.submit() }}</P>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock%}